# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
llms.json
# Pytest
.pytest_cache/

# SQLite
*.sqlite3
*.db

# macOS
.DS_Store

# IDE integrations
.vscode/
.idea/
